<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miwokapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_final_iconn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiwokApp">
        <activity
            android:name=".ManageTranslationModules"
            android:label="@string/manageModule_label"
            android:parentActivityName=".TranslatorAndVoiceGenerator"
            android:theme="@style/Theme.otherActivity"
            android:exported="true" />
        <activity
            android:name=".TranslatorAndVoiceGenerator"
            android:screenOrientation="portrait"
            android:label="@string/translator_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".SpanishFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName=".SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".SpanishColors"
            android:label="@string/color_label"
            android:parentActivityName=".SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".SpanishPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName=".SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".SpanishNumbers"
            android:label="@string/number_label"
            android:parentActivityName=".SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".SpanishMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/spanish_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".RussianPhrases"
            android:label="Phrases"
            android:parentActivityName=".RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".RussianFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName=".RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".RussianNumbers"
            android:label="@string/number_label"
            android:parentActivityName=".RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".RussianColors"
            android:label="@string/color_label"
            android:parentActivityName=".RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".RussianMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/russian_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".HindiNumbers"
            android:label="@string/number_label"
            android:parentActivityName=".HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".HindiPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName=".HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".HindiMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/hindi_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".HindiFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName=".HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".HindiColors"
            android:label="@string/color_label"
            android:parentActivityName=".HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".GermanMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/german_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".GermanPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName=".GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".GermanColors"
            android:label="@string/color_label"
            android:parentActivityName=".GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".GermanFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName=".GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".GermanNumbers"
            android:label="@string/number_label"
            android:parentActivityName=".GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".MiwokMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/miwok_label"
            android:parentActivityName=".Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".ColorsActivity"
            android:label="@string/color_label"
            android:parentActivityName=".MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".FamilyActivity"
            android:label="@string/family_label"
            android:parentActivityName=".MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/phrases_label"
            android:parentActivityName=".MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".NumberActivity"
            android:label="@string/number_label"
            android:parentActivityName=".MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name=".Languages"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>