<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.Language_pad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_round_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiwokApp">
        <activity
            android:name="com.learn.Language_pad.ManageTranslationModules"
            android:label="@string/manageModule_label"
            android:parentActivityName="com.learn.Language_pad.TranslatorAndVoiceGenerator"
            android:theme="@style/Theme.otherActivity"
            android:exported="true" />
        <activity
            android:name="com.learn.Language_pad.TranslatorAndVoiceGenerator"
            android:screenOrientation="portrait"
            android:label="@string/translator_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.SpanishFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName="com.learn.Language_pad.SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.SpanishColors"
            android:label="@string/color_label"
            android:parentActivityName="com.learn.Language_pad.SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.SpanishPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName="com.learn.Language_pad.SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.SpanishNumbers"
            android:label="@string/number_label"
            android:parentActivityName="com.learn.Language_pad.SpanishMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.SpanishMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/spanish_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.RussianPhrases"
            android:label="Phrases"
            android:parentActivityName="com.learn.Language_pad.RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.RussianFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName="com.learn.Language_pad.RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.RussianNumbers"
            android:label="@string/number_label"
            android:parentActivityName="com.learn.Language_pad.RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.RussianColors"
            android:label="@string/color_label"
            android:parentActivityName="com.learn.Language_pad.RussianMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.RussianMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/russian_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.HindiNumbers"
            android:label="@string/number_label"
            android:parentActivityName="com.learn.Language_pad.HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.HindiPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName="com.learn.Language_pad.HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.HindiMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/hindi_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.HindiFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName="com.learn.Language_pad.HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.HindiColors"
            android:label="@string/color_label"
            android:parentActivityName="com.learn.Language_pad.HindiMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.GermanMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/german_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.GermanPhrases"
            android:label="@string/phrases_label"
            android:parentActivityName="com.learn.Language_pad.GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.GermanColors"
            android:label="@string/color_label"
            android:parentActivityName="com.learn.Language_pad.GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.GermanFamilyMembers"
            android:label="@string/family_label"
            android:parentActivityName="com.learn.Language_pad.GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.GermanNumbers"
            android:label="@string/number_label"
            android:parentActivityName="com.learn.Language_pad.GermanMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.MiwokMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/miwok_label"
            android:parentActivityName="com.learn.Language_pad.Languages"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.ColorsActivity"
            android:label="@string/color_label"
            android:parentActivityName="com.learn.Language_pad.MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.FamilyActivity"
            android:label="@string/family_label"
            android:parentActivityName="com.learn.Language_pad.MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.PhrasesActivity"
            android:label="@string/phrases_label"
            android:parentActivityName="com.learn.Language_pad.MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.NumberActivity"
            android:label="@string/number_label"
            android:parentActivityName="com.learn.Language_pad.MiwokMainActivity"
            android:theme="@style/Theme.otherActivity" />
        <activity
            android:name="com.learn.Language_pad.Languages"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name="com.learn.Language_pad.FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>